# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.richardnash.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rdnas\source\repos\richardnash\.idea\.idea.richardnash.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
